@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

.lf-box {
	background:#FFF;
	border:1px solid rgba(0,0,0,.2);
	border-radius: 7px;
}

.lf-box textarea[name="Post"] {
	width:100%;
	min-height:220px;
	margin:auto;
	border:none;
	box-sizing: border-box;
	outline:none;
}

#lfStandardToolbox > div {
	float:left;
	display:flex;
}

.lf-family2 > div{
	float:left;
	display:flex;
}

#lfStandardToolbox {
	border-bottom:1px solid rgba(0,0,0,.2);
}

#lfCustomToolbox {
	border-top:1px solid rgba(0,0,0,.2);
}

#lfStandardToolbox, #lfCustomToolbox {
	height:33px;
	padding-left:5px;
}

#quickOptions {
	width:170px;
}

.lf-text-tools button, .lf-dropdown > button {
	background:transparent;
	border:none;
	width:33px;
	height:33px;
	position:relative;
	outline:none;
	display:flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
}

.lf-text-tools button:hover, .lf-dropdown > button:hover {
	background: rgba(0,0,0,.1);
	cursor:pointer;
}

/*#lfFont, #lfSize, #lfColor {
	background:url('chrome-extension://__MSG_@@extension_id__/icons/menu-down.svg') no-repeat center right;
}

#lfFont:hover, #lfSize:hover, #lfColor:hover {
	background:url('chrome-extension://__MSG_@@extension_id__/icons/menu-down.svg') no-repeat center right rgba(0,0,0,.1);
}*/

.lf-color-palette > span {
	display:inline-block;
	width:32px;
	height:32px;
	margin:10px;
	position: relative;
	box-sizing:border-box;
}

.lf-color-palette > span:hover {
	border:1px solid #000;
}


.lf-text-tools button:hover::before {
	content: attr(data-tooltip);
	position:absolute;
	bottom:115%;
	border-radius: 3px;
	background:rgba(0,0,0,.85);
	color:#FFF;
	padding:5px 7px;
	font-family:'Arial', sans-serif;
	font-size:11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.lf-type {
	width:40px;
	height:40px;
	border:none;
	outline:none;
}

#lfBold:hover::before {
	width:60px;
	left:-20px;
}

#lfItalic:hover::before {
	width:60px;
	left:-20px;
}

#lfUnderline:hover::before {
	width:90px;
	left:-30px;
}
#lfStrikethrough:hover::before {
	left:-2px;
}

/*#lfImg::before {
	content: url('chrome-extension://__MSG_@@extension_id__/icons/img.svg');
}

#lfUrl::before {
	content: url('chrome-extension://__MSG_@@extension_id__/icons/link.svg');
}*/

.lf-dropdown {
	position: relative;
}

.lf-dropdown-content {
	position: absolute;
	background: #FFF;
	width:250px;
	top: 100%;
	left:-100%;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	display:none;
}

.lf-dropdown-content ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

.lf-dropdown-content ul li {
	font-size:16px;
	text-align: center;
	padding:5px;
}

.lf-dropdown-content ul li:hover {
	color:#03A9F4;
	cursor:pointer;
}

#lfFonts li {
	margin:5px;
	text-align: initial;
	width:50px;
	float:left;
}

#lfSizes li {
	width:30px;
	height:30px;
	margin:3px;
	float:left;
}

.lf-dropdown-content input[type="text"] {
	display:block;
	font-size:14px;
	width:90%;
	margin:30px auto 10px auto;
	border:none;
	outline:none;
	border-bottom:1px solid rgba(0,0,0,.2);
}

.lf-dropdown-content input[type="text"]:focus {
	border-bottom:2px solid #03A9F4;
}

.lf-dropdown-content button {
	margin:0 5% 5% 0;
	background:transparent;
	font-size:16px;
	border:none;
	outline:none;
	color:#03A9F4;
	float:right;
	padding:5px 10px;
}

.lf-dropdown-content button:hover {
	background:rgba(0,0,0,.05);
	cursor:pointer;
}

#lfImgUpload {
	float:left;
	margin:0 0 5% 5%;
}

.show {
	display:inline-block;
}

.selected {
	font-weight: 700;
}

#lfGeoContainer {

}

#lfGeoContainer input {
	display:none;
}

#lfGeoContainer input:checked + label::before {
	content:'KA';
}

#lfGeoContainer input:not(:checked) + label::before {
	content:'EN';

}

#lfGeoContainer label {
	font-family: 'Arial', sans-serif;
	font-size:10px;
	color:#000;
	background:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	width:30px;
	height:30px;
}

#lfGeoContainer label:hover {
	color:#03A9F4;
	cursor:pointer;
}

/*.lf-box * {
	border:1px solid black;
}*/